img{
    float: left;
    width: 20%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

aside {
    width: 15%;
    font-size: larger;
    padding: 20px 0 20px 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(204,204,204);
    border-radius: 10px;
}
