

@font-face {
    font-family: MyUbuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");

}

@font-face {
    font-family: MyUbuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: MyUbuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: MyUbuntu;
    src: url("../fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}


body{
    background-color: rgba(181,234,242,0.6);
    font-family: MyUbuntu, serif;
    font-size: 17px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px
}

h3{
    font-size: 30px;
}

hgroup{
    text-align: center;
    color: rgb(65,65,65);
}

nav ul{
    list-style-type: none;
    margin: 0 15%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51,51,51);
}

nav ul li{
    float: left;
}

nav ul li a{
    display: inline-block;
    color: rgb(255,255,255);
    text-align: left;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgba(255, 120, 110,1);
}

.core{
    width: 70%;
    margin: 0 15%;
}

ul{
    list-style-type: circle;
}

footer{
    text-align: center;
    padding: 10px;
    margin: 50px 0 0 0;
    background-color: rgb(51,51,51);;
    color: rgb(255,255,255);
    position: relative;
    bottom: 0;
    clear: both;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-facebook {
    background: rgb(59,89,152);
    color: rgb(255,255,255);
}

.fa-linkedin {
    background: rgb(0,123,181);
    color: rgb(255,255,255);
}
.fa-instagram {
    background: rgb(18,86,136);
    color: rgb(255,255,255);
}

.fa:hover {
    opacity: 0.7;
}
