td {
    border: 1px solid;
}

.timetable{
    overflow: auto;
}

table{
    border-collapse: collapse;
    background-color: rgba(201,201,201);
}

table, th{
    border: 3px solid;
    text-align: left;
}

th,td {
    vertical-align: center;
    padding: 10px;
}

td, .time{
    text-align: center;
}

tr:nth-child(even){
    background-color: rgb(151, 151, 151);
}

.lecture{
    background-color: rgb(89, 131, 104);
}

.seminar{
    background-color: rgba(176, 194, 67, 0.71);
}

.sport{
    background-color: rgb(97,125,42);
}